@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/** MERRIWEATHER **/
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,600,700,900&display=swap);

/** SOURCE SANS PRO **/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap);

/** CALIBRI **/
@font-face {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY67FIEjg&skey=a1029226f80653a8&v=v15) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9_pxqHxIZrCE&skey=cd2dd6afe6bf0eb2&v=v15) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Fonts for testing */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Caveat&display=swap');


/* @import "./ui.css";
@import "./colors.css";
@import "./typography.css"; */
@import "./button.css";
@import "./varriable.css";
/* @import "./font.css"; */

/**
 * Document defaults
 * Root line height reflected to postcss config for rlh units
 */
html {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.6;
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* TODO: This should probably be removed, in favour of default subpixel aliasing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font: var(--font-default);
  position: relative;
  margin: 0;
  min-height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

strong {
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3 {
  font: var(--font-heading);
  margin: 0;
}

/* Make box-sizing inheritable */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Strip default anchor styles */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* Patch hidden prop in Chrome/IE */
[hidden] {
  display: none !important;
}

@layer components {
  /* input[type="text"],
  .inputEl {
    display: block;
    font: var(--font-input);
    color: inherit;
    outline: none;
    margin: 0;
    box-shadow: none;
    transition: border 150ms ease;
    width: 100%;
    background: white;
    padding: 0.85em 0.75em 0.75em;
    border: 2px solid var(--color-grey-50);
    border-radius: var(--radius-2);
    &:focus {
      border-color: var(--color-primary);
      box-shadow: none;
    }
    &[disabled] {
      opacity: 0.6;
      color: var(--color-text-light);
    } 

    &::placeholder {
      opacity: 0.5;
    }
  } */

  .btn-rezi {
    border-radius: 0.5em;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .generate-btn {
    background: linear-gradient(
      80deg,
      #4d70eb 0%,
      #4d70eb 10%,
      #b3241a 50%,
      #a63cac 70%,
      #4d70eb 90%,
      #4d70eb 100%
    );
    background-position: left;
    background-size: 800%;
    color: #ffffff;
    border: 1px solid #f0f0f0;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    font: var(--font-ui);
    font-size: var(--scale-000);
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;

    & span {
      padding-left: 16px;
    }

    & i {
      color: #ffffff;
      position: absolute;
      left: 11px;
    }
  }
  .loading {
    cursor: progress;
    animation: loading 2s;
    animation-iteration-count: infinite;
  }
  .bolt-effect {
    animation: bolt-effect 1s;
  }
}

.design-studio-break-page {
  position: absolute;
  /* top: calc(28cm - 1.6cm); */
  left: -5%;
  width: 110%;
  color: #717172;
  font-size: var(--scale-000);
  & div {
    border-top: 1px dashed rgba(5, 8, 33, 0.22);
  }
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--color-grey-300);
  opacity: 0.75;
}

@keyframes loading {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bolt-effect {
  0% {
    color: #ffcc00ff;
    left: 9px;
  }
  5% {
    color: white;
    left: 12px;
  }
  10% {
    color: #ffcc00ff;
    left: 9px;
  }
  15% {
    color: white;
    left: 12px;
  }
  20% {
    color: #ffcc00ff;
    left: 9px;
  }
  25% {
    color: white;
    left: 11px;
  }
  30% {
    color: #ffcc00ff;
  }
  35% {
    color: white;
  }
  40% {
    color: #ffcc00ff;
  }
  45% {
    color: white;
    left: 11px;
  }
  50% {
    color: #ffcc00ff;
    left: 9px;
  }
  55% {
    color: white;
    left: 12px;
  }
  60% {
    color: #ffcc00ff;
    left: 9px;
  }
  65% {
    color: white;
    left: 12px;
  }
  70% {
    color: #ffcc00ff;
    left: 9px;
  }
  75% {
    color: white;
    left: 11px;
  }
  80% {
    color: #ffcc00ff;
  }
  85% {
    color: white;
  }
  90% {
    color: #ffcc00ff;
  }
  95% {
    color: white;
  }
  100% {
    color: white;
  }
}

#gradient-canvas {
  min-width: 2000px;
  width: 100%;
  height: 140%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  --gradient-color-1: #372e8f;
  --gradient-color-2: #9a227f;
  --gradient-color-3: #020d3b;

  /*--gradient-color-3: #f33a3e;*/
}