.ant-segmented {
  margin-bottom: 0px;
  border: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
  font-size: 12.6px; /* Added this line */
}

.ant-segmented-item {
  background-color: #ffffff;
  color: #565656;
  border: none;
  padding: 0px;
  font-size: 12.6px; /* Added this line */
}

.ant-segmented-item-selected {
  color: #ffffff !important;
  background-color: #4d70eb !important;
  font-size: 12.6px; /* Added this line */
}

.ant-segmented-thumb {
  background-color: #4d70eb !important;
}

.ant-segmented-item-label {
  border: none !important;
  font-size: 12.6px; /* Added this line */
}
