.education-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 1px;
  border: none;
}

.education-header {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  color: black;

  font-size: 24px;

  margin-bottom: 10px;
}

.education-title {
  font-size: 18px;
  color: black;

  margin-bottom: 5px;
}

.education-collegeName {
  color: #555;
  font-size: 14px;
  margin-left: 5px;

  margin-top: -5px;
}

.education-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education-actions {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 20px;
}

.education-edit {
  color: white;

  background-color: rgb(77, 112, 235);
  border-radius: 5px;

  padding: 5px 10px;
  cursor: pointer;
}

.education-delete {
  color: white;

  background-color: rgb(212, 0, 0);

  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.education-hide {
  background-color: transparent;

  color: black;

  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.toggle1 {
  color: #ccc;

  margin-left: 10px;

  font-size: 20px;
}
