@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

$font-size: 14pt;
$line-height: 1.25;
$font-color: rgb(84, 136, 204);

#resume {
  line-height: $line-height;
  color: $font-color;
  font-family: 'Calibri', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace, Merriweather;
}

.cv-layout-container {
  margin: 2em;
  padding: 2em;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  max-width: fit-content;
  box-shadow: none;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  line-height: var(--line-height);
  justify-content: center;
  text-align: left;
  border-radius: 4px;

  .divider-section {
    margin: 10px 0;
    border-top: 2px solid #423b3b;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: inherit !important;
  }


  .information-section-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .name {
      h2 {
        color: var(--font-color);
      }
    }

    .contact-info {
      display: flex;
      padding: 12px 0;
      color: black;
      gap: 20px;
    }
  }


  .title {

    /* 110.883% */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    color: var(--font-color);
  }

  .skills-section-container {
    .skill-items {}
  }

  .experiences-section-container {
    .experience-items {}
  }

  .educations-section-container {
    .education-items {}
  }

  .certifications-section-container {
    .certification-items {}
  }

  .summary-section-container {
    justify-content: flex-start;

    .summary-content {
      font-style: normal;
      font-weight: 300;
      color: black;
    }
  }

  .standard-item {
    line-height: var(--line-height);

    .item-title {
      display: flex;
      flex-wrap: wrap;
      /* Allow items to wrap onto a new line */
      gap: 8px;
      color: var(--font-color);

      h4 {
        margin-top: unset !important;
        margin-bottom: unset !important;
        color: var(--font-color);
      }

      /* Vertically align items to the center */
    }

    .item-sub-title {
      display: flex;

      .left-sub-title {}

      .right-sub-title {
        display: flex;
        margin-left: auto;

        h5 {
          margin-top: unset !important;
        }
      }
    }

    .item-description {
      font-weight: 300;
      color: black;
      font-style: normal;
    }
  }
}