.sortable-item {
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    border-color: antiquewhite;
    border-radius: 4px;
    border: 1px solid gray;
}

.drag-handle {
    -webkit-tap-highlight-color: transparent;
}

.drag-handle:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.drag-handle:focus-visible {
    box-shadow: 0 0px 0px 2px #4c9ffe;
}