.sortable-item {
    position: relative;

    .sortable-list {
        list-style: none;
        padding: 0;
    }
    
    .sortable-item {
        margin: 0;
        // padding: 10px;
        // border: 1px solid #ccc;
        cursor: grab;
    }
    
    .sortable-item:active {
        cursor: grabbing;
    }
    

    /* Styling for the drag handle */
    .drag-handle {
        -webkit-tap-highlight-color: transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
        /* Display the drag-handle when hovering over the sortable-item */
        .drag-handle {
            opacity: 1;
            visibility: visible;
            width: auto;
            height: auto;
        }

        .drag-handle:focus-visible {
            box-shadow: 0 0px 0px 2px #4c9ffe;
        }
    }

    .sortable-component {
        /* Reset any unwanted margins on the sortable component */
        margin: 0;
    }
}
