/**
 * Config menus
 */

 @custom-media --tablet (min-width: 801px);

 .wrapper {
   display: flex;
   flex-direction: row;
   /*margin: var(--grid-gap-offset);*/
   width: 100%;
   margin-top: 18px;
   min-width: 1120px;
 }

 comment {
  background-color: yellow;
  padding: 2px; /* Adjust padding as needed */
  border-radius: 4px; /* Optional: add rounded corners */
}
/** Tootip **/
 comment[content]:hover:after {
  opacity: 1;
  /* transition: all 0.1s ease .5s; */
  visibility: visible;
  /* animation: grow 3s forwards; */
}

comment[content]:after {
  content: attr(content);
  background-color: #00adb5;
  color: #fff;
  position: absolute;
  padding: 1px 5px 2px 5px;
  top: 100%;
  left: 0px;
  white-space: nowrap;
  opacity: 0;
  box-shadow: 3px 3px 5px #00ADB5;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 0 5px 0 5px;
  visibility: hidden;
  z-index: 100;
}

comment[content] {
  position: relative;
}

.comment-bubble {
  height: 100px;
  width: 200px;
  margin-top: 10px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 1000px;
  top: calc(var(--comment-index) * 110px); /* Adjust the vertical separation as needed */
}


/* you can ignore the animation it is not mandatory */
@keyframes grow {
  0% {
      transform: scale(0);
  }

  30%, 65% {
      transform: scale(1);
  }

  70%, 100% {
      transform: scale(0);
  }
}

 
 .resume-preview-wrapper {
   width: 100%;
   margin: 0 1em;
   position: relative;
   max-width: calc(100% - 356px);
 }
 
 .toolbar,
 .config {
   /* display: flex; */
   /* justify-content: center; */
   z-index: 1;
 }
 
 .toolbar {
   position: relative;
   /* display: flex; */
   /* justify-content: space-between; */
   padding: 0;
   overflow: visible;
   /* max-width: 100%; */
   /* height: 69px; */
 }
 .note {
   width: 320px;
   margin: 0 auto;
   position: relative;
   & textarea {
     box-shadow: var(--elevation-flat);
     border-radius: var(--radius-3);
     font-size: 15px;
     font-weight: 600 !important;
   }
   &.video-wrapper-mobile {
     width: 100%;
     margin: 1em;
     position: relative;
   }
 }
 .download-menu {
   display: none;
   position: absolute;
   top: 50px;
   right: -5px;
   &.open {
     display: block;
   }
 }
 
 .toolbar-button-wrapper {
   display: flex;
   align-items: center;
 }
 
 .toolbar-button {
   position: relative;
   display: inline-flex;
   width: 100%;
   align-items: center;
   justify-content: flex-start;
   font: var(--font-ui);
   font-size: var(--scale-000);
   border-radius: 0;
   background-color: #fff;
   text-transform: uppercase;
   font-weight: var(--font-weight-bold);
   padding: 15px 1em 15px 4em;
   margin: 0 0 0 1rem;
   text-align: center;
   white-space: nowrap;
   border: none;
   outline: none;
   cursor: pointer;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: rgb(40, 62, 80);
   transition: all ease 150ms;
   box-shadow: 0 3px 4px 0 rgba(14, 30, 37, 0.12);
   &:last-child {
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
   }
   &:hover {
     background-color: #f1f1f1;
   }
 }
 
 .toolbar-count-left {
   padding: 15px 0;
   text-align: center;
   display: block;
   cursor: pointer;
   background-color: #f1f1f1;
 }
 
 .toolbar-button > i {
   padding-right: 16px;
   font-size: 18px;
   color: #909090;
   left: 18px;
   position: absolute;
 }
 
 .toolbar-button-adjustement,
 .toolbar-button-template,
 .toolbar-button-download {
   display: inline-flex;
   align-items: center;
   margin: 1rem 0.5rem 1rem;
   padding: 10px;
   border-radius: 5px;
   font: var(--font-ui);
   text-transform: uppercase;
   font-size: var(--scale-000);
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
   position: relative;
 }
 
 .toolbar-button-download {
   background: rgba(116, 116, 116, 0.15);
 }
 
 [data-busy="true"] .toolbar-button {
   opacity: 0.6;
   pointer-events: none;
   cursor: auto;
 }
 
 .toolbar-button-icon {
   height: 1em;
   fill: currentColor;
   margin-left: 0.25em;
 }
 
 .toolbar-button-card {
   width: calc(100% - 1.8rem);
   box-shadow: var(--elevation-flat);
 }
 
 .config {
   opacity: 0;
   position: relative;
   width: 100%;
   max-height: 0;
   transition: all 0ms ease;
   z-index: 3;
   & .config-inner {
     padding: 0rem;
   }
 }
 
 .config[data-active] {
   opacity: 1;
   max-height: 350px;
   pointer-events: initial;
   position: absolute;
   & .config-inner {
     padding: 1.5rem;
   }
 }
 
 .config-inner {
   display: block;
   margin-top: 0.25rem;
   padding: 0 1.5rem;
   width: 100%;
 }
 
 [data-busy="true"] .config-inner > * {
   opacity: 0.6;
   pointer-events: none;
 }
 
 /**
  * Config panels
  */
 .adjustments {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   & > * {
     margin: 0 1rem;
   }
   & > div {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     flex-wrap: wrap;
   }
 }
 
 .template-option {
   margin-top: 20px;
   & .sample {
     display: inline-block;
     position: relative;
     width: 20px;
     height: 20px;
     margin: 0 0 -5px 10px;
     border-radius: 3px;
     border: 1px solid #e7e7e7;
     cursor: pointer;
   }
 }
 .samplePicker {
   position: relative;
 }
 .block-picker {
   transform: translateX(calc(100% - 95px));
   position: absolute !important;
   top: 40px;
   right: 0;
   display: none;
   &.open {
     display: block;
   }
 }
 
 .template {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   max-width: 8rem;
   border: 2px solid var(--color-grey-100);
   border-radius: var(--radius-2);
   cursor: pointer;
   user-select: none;
   &[data-selected="true"] {
     border-color: var(--color-primary);
   }
   &[data-locked="true"] {
     position: relative;
     opacity: 0.5;
     &::before {
       content: "Unlock template";
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       font: var(--font-ui);
       font-size: var(--scale-00);
       color: black;
       text-align: center;
       opacity: 0;
       transition: opacity 150ms ease;
       z-index: var(--layer-1);
     }
     &::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: white;
       opacity: 0;
       transition: opacity 150ms ease;
     }
     &:hover::before {
       opacity: 1;
     }
     &:hover::after {
       opacity: 0.75;
     }
   }
 }
 
 .template-name {
   display: block;
   font: var(--font-ui);
   text-align: center;
   padding: 0.5rem;
   border-top: 1px solid var(--color-grey-100);
 }
 
 .adjustments-input {
   flex: 1;
   max-width: 10rem;
   min-width: 80px;
   margin: 0 5px;
 }
 
 .adjustments-switch {
   text-align: center;
   min-width: 80px;
   margin: 0 5px;
 }
 
 /**
  * Preview card
  */
 .preview {
   margin-top: var(--gutter);
   margin-bottom: var(--gutter);
   padding: 0 !important;
   position: relative;
   width: 100%;
   /* max-width: 884px;
   min-width: 883px; */
   max-width: fit-content;
   min-width: fit-content;
   /* background: #e7e7e7; */
   background: transparent;
   box-shadow: none;
   display: flex;
   justify-content: center;
 }
 
 .resume {
   /*width: 23.3cm;*/
   /*min-height: 30cm;*/
   width: calc(22cm + 4rem);
   min-height: calc(28cm + 4rem);
   border-radius: var(--radius-3);
 }
 
 .donutWrapper {
   display: inline-flex;
   margin: 0 1rem;
   padding: 0 0.5rem;
 }
 .donutContainer {
   position: relative;
   left: initial;
   display: flex;
   align-items: center;
   padding: 0;
   min-width: 145px;
   & span {
     font: var(--font-ui);
     text-transform: uppercase;
     font-size: var(--scale-000);
     padding-left: 15px;
   }
 }
 
 @media screen and (max-width: 1011px) {
   .donutContainer {
     min-width: 52px;
   }
 }
 
 .donutContainerSvg {
   transform: rotate(-90deg);
 }
 
 .donut {
   stroke-dasharray: 138;
   stroke-dashoffset: 138;
   transition: all 2s ease-out;
 }
 
 .donut-text {
   transform: rotate(90deg);
   font: var(--font-ui);
   text-transform: uppercase;
   font-size: 18px;
 }
 
 .toolbar-mobile {
   display: none !important;
   font-size: 17px;
 }
 .toolbar-desktop {
   display: inline-block;
 }
 
 .toolbar-button-score {
   opacity: 0.5;
   &[data-score="true"] {
     opacity: 0.8;
   }
 }
 
 .video-wrapper {
   margin: 0 1em 1em;
   width: 320px !important;
   height: 185px !important;
   box-shadow: var(--elevation-flat);
   border-radius: var(--radius-3);
   overflow: hidden;
   position: relative;
   background: #ffffff; /* Old browsers */
   background: -moz-radial-gradient(
     center,
     ellipse cover,
     #ffffff 0%,
     #ffffff 46%,
     #e9e7e8 100%
   ); /* FF3.6-15 */
   background: -webkit-radial-gradient(
     center,
     ellipse cover,
     #ffffff 0%,
     #ffffff 46%,
     #e9e7e8 100%
   ); /* Chrome10-25,Safari5.1-6 */
   background: radial-gradient(
     ellipse at center,
     #ffffff 0%,
     #ffffff 46%,
     #e9e7e8 100%
   ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e7e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 
 .video-module {
   width: 320px !important;
   height: 185px !important;
 }
 .keyword-card-mobile {
   display: none;
 }
 .video-wrapper-mobile {
   display: none;
 }
 .review-card-mobile {
   display: none;
 }
 
 .keyword-card {
   padding: 1.5em !important;
   margin: 1em;
 }
 .share-card {
   padding: 1.5em !important;
   margin: 1em;
   & h4 {
     margin: 8px 0 5px;
     text-transform: uppercase;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font: var(--font-heading);
     font-size: var(--scale-000);
     line-height: 1.5em;
   }
   & span {
     color: var(--color-grey-500);
     font-family: "Source Sans Pro", sans-serif;
     line-height: 19px;
     font-weight: 400;
     font-size: 14px;
     display: inline-block;
     margin: 10px 0 0;
   }
   & button {
     margin: 1.5em 0 0;
     width: 100%;
   }
 }
 .compiler-aside {
   max-width: 356px;
   z-index: 2;
 }
 
 .review-card {
   padding: 1.5em;
   margin: 1em;
   & section {
     margin-top: 15px;
     & span {
       padding-right: 4px;
       font-weight: 600 !important;
       color: var(--color-grey-900);
       text-transform: capitalize;
       font-size: 15px;
     }
     & p {
       color: var(--color-grey-500);
       font-family: "Source Sans Pro", sans-serif;
       line-height: 19px;
       font-weight: 400;
       font-size: 14px;
       margin: 10px 0;
     }
   }
 }
 .list-title {
   display: block;
   font: var(--font-heading);
   text-transform: uppercase;
   font-size: 13px;
   padding-bottom: 0.75em;
   border-bottom: 1px solid var(--color-grey-100);
   transition: all 0.2s ease-in-out;
   & .carret {
     color: #adb1b8;
     transition: all 0.2s ease-in-out;
     padding: 10px;
     line-height: 0px;
     margin-top: -2px;
     vertical-align: middle;
     cursor: pointer;
     outline: none;
     font-size: 18px;
     &:focus,
     &:active {
       outline: none;
     }
   }
 }
 :global(.list-shown-false),
 :global(.analyse-show-false) {
   border-bottom: none;
   padding: 0;
   & .carret {
     transform: rotate(-90deg);
   }
 }
 
 @keyframes fade-top {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 
 .close-button {
   position: absolute;
   top: 0;
   right: 10px;
   font-family: "Source Sans Pro", sans-serif;
   font-weight: 100;
   color: #fff;
   transform: rotate(45deg);
   font-size: 45px;
   width: 50px;
   display: block;
   text-align: center;
   cursor: pointer;
 }
 
 .template-infos {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   height: 100vh;
 }
 
 .gradient-top {
   z-index: 1;
   content: "";
   display: block;
   width: 100%;
   height: calc(50% - 200px);
   position: absolute;
   top: 0;
   left: 0;
   background: linear-gradient(180deg, #111e24, #111e2400);
   cursor: pointer;
 }
 .gradient-bottom {
   z-index: 1;
   content: "";
   display: block;
   width: 100%;
   height: calc(50% - 200px);
   position: absolute;
   bottom: 0;
   left: 0;
   background: linear-gradient(0deg, #111e24, #111e2400);
   cursor: pointer;
 }
 .template-side-infos {
   color: #fff;
   width: 30vw;
   height: 100vh;
   overflow: hidden;
   & > div {
     padding: 50px 0;
     position: relative;
     height: 100%;
     margin: 0 auto;
     & > div {
       position: absolute;
       width: 100%;
       transition: all 0.5s ease-in-out;
       &.alternative {
         margin: 0 0 40px;
       }
     }
   }
   & i {
     padding-right: 5px;
     color: var(--color-green);
     font-size: 16px;
     &:global(.fa-exclamation) {
       color: red;
       padding: 0 15px 0 5px;
     }
   }
   & ul {
     margin: 0;
     padding: 10px 0;
     list-style: none;
     & li {
       font-family: "Source Sans Pro", sans-serif;
     }
   }
   & button {
     padding: 10px;
     border-radius: 5px;
     font: var(--font-ui);
     text-transform: uppercase;
     font-size: var(--scale-000);
     margin-top: 15px;
     cursor: pointer;
     &:hover,
     &:focus,
     &:active {
       outline: none;
     }
     &:disabled,
     &[disabled] {
       background: transparent;
       color: #757575;
       border-color: #757575;
     }
   }
 }
 
 .template-main-infos {
   width: 40vw;
   text-align: center;
   & img {
     height: 93vh;
     margin-bottom: -12vh;
     padding-left: 20px;
   }
 }
 .arrow-top {
   text-align: center;
   cursor: pointer;
   position: absolute;
   top: -100px;
   width: 100%;
   &:hover i {
     color: #f1f1f1;
   }
   & i {
     font-size: 100px;
     transform: scale(1, 0.3);
     color: #474d50;
     transition: all 0.5s ease-in-out;
   }
 }
 .arrow-down {
   text-align: center;
   cursor: pointer;
   position: absolute;
   bottom: -100px;
   width: 100%;
   &:hover i {
     color: #f1f1f1;
   }
   & i {
     font-size: 100px;
     transform: scale(1, 0.3);
     color: #474d50;
     transition: all 0.5s ease-in-out;
   }
 }
 .template-side-infos {
   &.gamma-template {
     & > div {
       & .alternative {
         transform: translateY(calc(50vh - 150px));
         z-index: 5;
       }
       & .standard {
         transform: translateY(calc(100vh - 200px));
       }
       & .compact {
         transform: translateY(calc(150vh - 250px));
       }
       & .photo {
         transform: translateY(calc(150vh - 250px));
       }
     }
   }
   &.omega-template {
     & > div {
       & .alternative {
         transform: translateY(calc(0vh - 120px));
       }
       & .standard {
         transform: translateY(calc(50vh - 150px));
         z-index: 5;
       }
       & .compact {
         transform: translateY(calc(100vh - 200px));
       }
       & .photo {
         transform: translateY(calc(150vh - 200px));
       }
     }
   }
   &.alpha-template {
     & > div {
       & .alternative {
         transform: translateY(calc(-50vh - 50px));
         z-index: 5;
       }
       & .standard {
         transform: translateY(calc(0vh - 120px));
       }
       & .compact {
         transform: translateY(calc(50vh - 150px));
       }
       & .photo {
         transform: translateY(calc(100vh - 200px));
       }
     }
   }
   &.phi-template {
     & > div {
       & .alternative {
         transform: translateY(calc(-50vh - 50px));
         z-index: 5;
       }
       & .standard {
         transform: translateY(calc(-50vh - 50px));
       }
       & .compact {
         transform: translateY(calc(0vh - 120px));
       }
       & .photo {
         transform: translateY(calc(50vh - 150px));
       }
     }
   }
 }
 .template-main-infos {
   &.gamma-template {
     & :global(.standard-tmp),
     & :global(.compact-tmp),
     & :global(.photo-tmp) {
       display: none;
     }
   }
   &.omega-template {
     & :global(.alternative-tmp),
     & :global(.compact-tmp),
     & :global(.photo-tmp) {
       display: none;
     }
   }
   &.alpha-template {
     & :global(.standard-tmp),
     & :global(.alternative-tmp),
     & :global(.photo-tmp) {
       display: none;
     }
   }
   &.phi-template {
     & :global(.standard-tmp),
     & :global(.alternative-tmp),
     & :global(.compact-tmp) {
       display: none;
     }
   }
 }
 
 :global(.scoreModal) {
   max-width: 100vw;
   max-height: calc(100vh - 72px);
   height: calc(100vh - 72px);
   padding: 2em 0;
   overflow-y: auto;
   overflow-x: hidden;
   background: #fbfbfb;
   &:before {
     z-index: 1;
     content: "";
     display: block;
     height: 2em;
     background: linear-gradient(0deg, transparent, #fff);
     position: fixed;
     top: 36px;
     left: 36px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     width: calc(100% - 72px);
   }
   &:after {
     z-index: 1;
     content: "";
     display: block;
     height: 2em;
     background: linear-gradient(0deg, #fff, transparent);
     position: fixed;
     bottom: 36px;
     left: 36px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     width: calc(100% - 72px);
   }
 }
 :global(.scoreOverlayModal) {
   align-items: flex-start;
   padding: 36px;
   overflow: hidden;
 }
 
 .config-overflow {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: none;
   z-index: 2;
 }
 
 .review-card {
   padding: 1.5em !important;
   margin: 1em;
   & h4 {
     margin: 8px 0 5px;
     text-transform: uppercase;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font: var(--font-heading);
     font-size: var(--scale-000);
     line-height: 1.5em;
   }
 }
 .historyReview {
   & ul {
     list-style: decimal;
     padding: 0 0 0 16px;
     margin: -12px 0 0;
     & li {
       font-size: 14px;
       & span {
         padding-left: 5px;
       }
     }
   }
 }
 